@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  background: rgb(95, 105, 2);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(22, 109, 16) 54%,
    rgb(106, 170, 2) 85%
  );
}

.gradient1 {
  background: rgb(95, 105, 2);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(22, 109, 16) 54%,
    rgb(106, 170, 2) 85%
  );
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 0, 1) 50%,
    rgba(0, 255, 0, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-text-green {
  background-image: linear-gradient(
    90deg,
    rgb(22, 109, 16) 34%,
    rgb(106, 170, 2) 55%
  );
  font-size: 3rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.grid-cols-auto-fit {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Adjust the minimum and maximum column width as needed */
}

.bg-dark-green {
  background-color: rgb(22, 109, 16);
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 50px;
}

* {
  /*font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  */

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
